<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DropBoxSyncContext" connectionString="Data Source=localhost;Initial Catalog=DropboxSync;UID=sa;PWD=123456; MultipleActiveResultSets=True;Max Pool Size=1024;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Service:SetServiceName" value="DropboxSync.Client" />
    <add key="Service:SetDisplayName" value="DropboxSync.Client" />
    <add key="Service:SetDescription" value="DropboxSync Client" />
    
    <add key="DropBox:ApiKey" value="at1zopsx37xc5c7" />
    <add key="DropBox:ApiSecret" value="" />
    <add key="DropBox:AccessToken" value="b4-XqjP0pKEAAAAAAABW8sM4y5uJt8u9EPdD0kg1v5sxYfGdCwEUbHg4gcAD_4Id" />
    <add key="DropBox:Path" value="/Test/" />
    <add key="DropBox:Timeout" value="20" />
    <add key="DropBox:ReadWriteTimeout" value="10" />
    <add key="Exact:ApiKey" value="f131c3ad-ff00-4569-8edf-eff90f5d473a" />
    <add key="Exact:ApiSecret" value="hrfXr8D6Cusq" />
    <add key="Exact:CallbackUrl" value="https://YOUR_NAMESPACE/login/callback" />
    <add key="Exact:EndPoint" value="https://start.exactonline.co.uk" />
    <add key="Exact:AccessToken" value="gAAAAFGduqJN2I5pajvhbonjYW4JoTV92Y8qCFoifIxoxChOH-2uRKWa52Fs2rVwIw8dSyycsGGeKL0NcPsFPmTo7tQX3GDD59HgyaF3g2usAk5a3q_tvd_DNc8XOKC1B_Xk3GpkChGsvVdsEfU_4d_KGZklmJd_H7-kEUpvhABrirmQFAEAAIAAAACAt4cAnU_sH6iM-Ko-xNWH7KdT4dJlCEeeX8ipNE4RccEjV45QOlHji4yONS-r9YdgSxJfuFq_f_ngSXC-bh0YCUUJPAF00pBkbbMYkAq6icX03b41ZEMf17J2a1Fo5a8qbVigYgTq2cFWb2FB1DXwRY4XTXfTDaQ3Rf6th4_mQtJL5mMgDW071vHyqnHnyQhCEBE1Cb5sKt_v6fCmgoSIULaAKZgzKZL8iEqUxWWuxkPCByq0uP5T3aR7SJ-V-0x3cSpIvVlUdtI6MD2oGn52pPWIJ8xPzt23W3fFvXjuXWNvTBhbJOe6oPw44Zz9GFLSpx7hIaC9rBXL5NTMxKrAp-m99Tx_O5tQZ5SqyWEnwg" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>